@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@500&display=swap');
$bgColor: #040c18;
$gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$color-text: #81AFDD;
$color-section: #072649;
$font-family: 'Manrope', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $bgColor;
    overflow-x: hidden;
}
.nav-fixed {
    position: fixed;
    top: 0;
    padding: 0;
}
header {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        font-family: $font-family;
        background: $gradient-text;
        background-clip: text;
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
    }
    p {
        color: $color-text;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
    }
    .blinker {
        animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    .header__quote {
        margin-top: 30px;
    }
    nav {
        .hamburger {
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            font-size: 25px;
            visibility: hidden;
            transition: 0.5s;
        }
        .turn {
            transform: rotate(90deg);
            transition:0.5s;
        }
        ul {
        display: flex;
        list-style-type: none;
        color: #fff;
            li {
                margin: 30px 10px 5px 10px;
                a {
                    text-decoration: none;
                    font-family: $font-secondary;
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }
}
.container {
    width: 80%;
    margin: auto;
}
main {
    .main__about {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
            .main__about-me {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                h2 {
                    font-family: $font-family;
                    background: $gradient-text;
                    background-clip: text;
                    text-align: left;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 40px;
                    width: 50%;
                }
                p {
                    text-align: right;
                    font-family: $font-secondary;
                    color: #fff;
                    line-height: 30px;
                    width: 50%;
                }
            }
            .main__about-skills {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 200px;
                .main__about-skills-text {
                    font-family: $font-family;
                    background: $gradient-text;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 40px;
                }
                .main__about-skills-images {
                    display: flex;
                    justify-content: space-around;
                    li {
                        align-items: right;
                        text-align: center;
                        margin-right: 20px;
                       p {
                           text-align: center;
                           font-family: $font-secondary;
                           color: #fff;
                           line-height: 50px;
                           align-items: middle;
                       }
                    }
                    li:nth-last-child(1) {
                        margin-right: 0px;
                    }
                }
            }
    }
    .main__portfolio {
        height: 100vh;
        padding: 100px 0;

        h2 {
            text-align: center;
            font-family: $font-family;
            background: $gradient-text;
            background-clip: text;
            text-align: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 60px;
            margin-bottom: 50px;
        }
        .main__portfolio-boxes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

        }
        .main__portfolio-box {
            margin: 30px;
            width: 300px;
            background: $color-section;
            -webkit-box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.18); 
            box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.18);
            .main__portfolio-box-image {
                img {
                    width: 100%;
                }
            }
            p {
                text-align: center;
                color: #fff;
                font-family: $font-secondary;
                padding: 10px 0;
            }
        }
    }
}
/* Mouse Cursor */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transform: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
/* RESPONSIVE */
@media only screen and (max-width: 700px){
    header {
        h2 {
            width: 100%;
            font-size: 50px;
        }
        p {
            font-size: 15px;
        }
        nav {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            text-align: center;
            background: $color-section;
            .hamburger {
                visibility: visible;
                z-index: 99;
            }
            ul {
                display: flex;
                flex-direction: column;
                height: 0;
                overflow:hidden;
                transition:0.5s;
            } li {
                margin-top: 20px;
            }
            .show_links {
                z-index: 1;
                height: 220px;
                transition:0.4s;
                margin-top: 30px;
           }
        }
    }
    main {
        .main__about {
            height: auto;
            .container {
                .main__about-me {
                    h2 {
                        width: 100%;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        margin-top: 20px;
                        width: 100%;
                    }
                }
            }
        }
        .main__about-skills {
            .main__about-skills-text {
                width: 100%;
                text-align: center;
            }
            .main__about-skills-images {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .main__portfolio {
            height: 100vh;
            padding: 100px 0;
    
            h2 {
                font-size: 40px;
            }
        }
    }
}